@page "/counter"
@using System.Security.Cryptography

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private void IncrementCount()
    {
        currentCount++;
    }
}

@* Demo Notes 
    - Webpage top, code bottom
    - Apply click or via save
    - Change HTML and CSS
    - Change logic
    - Things unable to handle (rename currentCount to _currentCount)
*@
